doctype html
html
    head
        title Tanya Food Blog
        style
            include ../static/style.css 
    body
        nav#navbar.top
            ul  
                div#logo
                    img(src="/static/img/logo.jpeg")
                li #[a(href="/") Home]
                li #[a(href="/") About Me]
                li #[a(href="/") Services]
                li #[a(href="/") Menu]
                li #[a(href="/") Contact us]
        section#introsection
            div Welcome to my food diary
            div.small Eat Sleep Repeat
        section#myfoods
            h2 My foods
            div.card
                h3 Choclate fudge
                div.card-box 
                    div.card-img 
                        img(src="/static/img/13.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Choclate-Shake
                div.card-box 
                    div.card-img 
                        img(src="/static/img/14.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Wood-box herbivore
                div.card-box 
                    div.card-img 
                        img(src="/static/img/bg1.jpeg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Pizza and garlic bread
                div.card-box 
                    div.card-img 
                        img(src="/static/img/4.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Choclate-blast
                div.card-box 
                    div.card-img 
                        img(src="/static/img/5.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Chinese-Choupsey
                div.card-box 
                    div.card-img 
                        img(src="/static/img/6.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Burger-Party
                div.card-box 
                    div.card-img 
                        img(src="/static/img/7.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Chilli-Potato
                div.card-box 
                    div.card-img 
                        img(src="/static/img/1.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Naan-Paneer
                div.card-box 
                    div.card-img 
                        img(src="/static/img/2.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Golgappe
                div.card-box 
                    div.card-img 
                        img(src="/static/img/3.png")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Tea-biscuit
                div.card-box 
                    div.card-img 
                        img(src="/static/img/8.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Square-pizza
                div.card-box 
                    div.card-img 
                        img(src="/static/img/9.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Noodles-bhel
                div.card-box 
                    div.card-img 
                        img(src="/static/img/10.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Pan-pizza
                div.card-box 
                    div.card-img 
                        img(src="/static/img/11.jpg")
                div.card-content 
                        p This is the Day when
            div.card
                h3 Choclates
                div.card-box 
                    div.card-img 
                        img(src="/static/img/12.jpg")
                div.card-content 
                        p This is the Day when
        section#container
            div.containerr
                div.circle 
                h1 A few Lines About Me
                P I am Tanya And I love to eat And click Pictures of What I Love travelling and eating. Food is the first such thing which always makes me happu. In this website I add pictures
                  of the food i eat and enjoy and each food that i add here has a beautiful story about it related to my life

        footer#footer
            | @allrightsreserved 2020-Tanya-Food-Blog
        script
            include ../static/index.js